extends layouts/main-layout.pug

block content    

    .searchBarContainer
        i.fas.fa-search
        input#searchBox(type="text", name="searchBox", data-search=selectedTab, placeholder="Знайти пости чи користувачів")

    .tabsContainer
        +createTab("Пости", `/search/posts`, selectedTab != "users")
        +createTab("Користувачі", `/search/users`, selectedTab == "users")

    .resultsContainer

    +createPostModals(userLoggedIn)

block scripts
    script(src="/js/search.js")